run = "npm start"
entrypoint = "server/start.js"
modules = ["nodejs-22"]

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "autoscale"

[[ports]]
localPort = 3000
externalPort = 80
